[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "revealedPrefs"]
	path = revealedPrefs
	url = https://github.com/cran/revealedPrefs
[submodule "scraEP"]
	path = scraEP
	url = https://github.com/cran/scraEP
